@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-card {
    max-width: 250px;
    /* margin-top: 20px; */
    margin: 50px 10px;
    flex: auto;
    overflow: hidden;
  }
  .imgcontainer img{
    height: 200px;
    width: 200px;
  }

  .home{
    height: 150px;
    width: 200px;
    font-size: 300px;
  }

  .imgcontainer{
    margin-top: 10px;
}

img{
    height: 300px;
    width: 300px;
}
.container{
    overflow: hidden;
}
