<body>
<div class="container-fluid">
    <div class="row offset-sm-1">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Update Details</mat-card-title>
                <mat-card-subtitle>customer can update details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="imgcontainer text-center">
                    <img src="../../assets/profile.png" alt="">
                </div><br>
                <div class="container text-center">
                    <a mat-raised-button color="primary" (click)="updatedata()">Update</a>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title> Book flight</mat-card-title>
                <mat-card-subtitle>book a flight</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="imgcontainer text-center">
                    <img src="../../assets/transport.png" alt="">
                </div><br>

                <div class="container text-center">
                    <a mat-raised-button color="primary" routerLink="/booking">Book</a>
                </div>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title> Booking History</mat-card-title>
                <mat-card-subtitle>see booking history</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="imgcontainer text-center">
                    <img src="../../assets/airplane-ticket.png" alt="">
                </div><br>
                <div class="container text-center">
                    <a mat-raised-button color="primary" routerLink="/bookhistory">History</a>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Cancel Booking</mat-card-title>
                <mat-card-subtitle>cancel a booking</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

                <div class="imgcontainer text-center">
                    <img src="../../assets/cancel.png" alt="">
                </div><br>
                <div class="container text-center">
                    <a mat-raised-button color="warn" routerLink="/cancelbooking">Cancel</a>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Flight Update</mat-card-title>
                <mat-card-subtitle>update flight details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="home">reset_tv</mat-icon>
                <div class="container text-center">
                    <a mat-raised-button color="accent" routerLink="updateflight">Update</a>
                </div>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Flight Delete</mat-card-title>
                <mat-card-subtitle>delete flight details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-icon class="home">delete_forever</mat-icon>
                <div class="container text-center">
                    <a mat-raised-button color="warn" routerLink="/deleteflight">Delete</a>
                </div>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card> -->


    </div>
</div>
</body>