<mat-toolbar class="nav">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>airplanemode_active</mat-icon>
    </button>
    <span><strong><a routerLink="/homepage">CTAir</a></strong></span>
    <span class="example-spacer"></span>
    <button *ngIf="isloggedin" mat-button routerLink="/login">Log-in</button>
    <button *ngIf="isregistered" mat-button routerLink="/register">Register</button>
    <button  *ngIf="islogout" mat-button routerLink="/customer">Log-Out</button>
</mat-toolbar>