.example-card {
  /* width: 300px;
  margin-bottom: 8px;
  height: 200px; */

  max-width: 300px;
  /* margin-top: 20px; */
  margin: 40px auto;
  flex: auto;
  overflow: hidden;
}

button{
  width: 200px;
  margin: 0px auto;
}