<!-- <mat-toolbar class="nav">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>airplanemode_active</mat-icon>
    </button>
    <span><strong><a routerLink="customer">CTAir</a></strong></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="">Log-in</button>
    <button mat-button routerLink="register">Register</button>
</mat-toolbar> -->

<div class="container-fluid flat">
    <!-- <img src="assets/images/bg.jpg" alt="My Image"> -->
    <div class="image-text">
        <h1>Welcome To CTAir</h1><br>   
        <p>Travel made easy - book your flights with us and experience a stress-free journey</p>
    </div>
</div>